@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  src: url("fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: url("fonts/Roboto-Italic.ttf");
}
.section {
  padding: 2rem 0;
}
.section__title {
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #1c1c1c;
  text-align: center;
  margin: 1rem auto;
}
.section__description {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #1c1c1c;
}
.members {
  overflow: hidden;
}
.members__input {
  display: none;
}
.members__slider {
  margin: 1rem 0;
}
.members__slides {
  width: 400%;
  overflow: hidden;
  margin-left: 0;
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
  -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
  -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
  -ms-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
}
.members__slide {
  width: 25%;
  height: 100%;
  float: left;
}
.members__controls {
  text-align: center;
  margin: 2rem 0;
}
.members__label {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #4285f4;
  cursor: pointer;
  margin: 0 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.members__label:nth-child(2) {
  background-color: #34a853;
}
.members__label:nth-child(3) {
  background-color: #fbbc05;
}
.members__label:nth-child(4) {
  background-color: #ea4335;
}
.members__label:hover {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
#member-1:checked ~ .members__slider .members__slides {
  margin-left: 0;
}
#member-2:checked ~ .members__slider .members__slides {
  margin-left: -100%;
}
#member-3:checked ~ .members__slider .members__slides {
  margin-left: -200%;
}
#member-4:checked ~ .members__slider .members__slides {
  margin-left: -300%;
}
#member-1:checked ~ .members__controls .members__label:nth-of-type(1) {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
#member-2:checked ~ .members__controls .members__label:nth-of-type(2) {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
#member-3:checked ~ .members__controls .members__label:nth-of-type(3) {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
#member-4:checked ~ .members__controls .members__label:nth-of-type(4) {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
.member__avatar {
  width: 100%;
  height: auto;
  max-width: 320px;
  display: block;
  margin: auto;
}
.member__title {
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
}
.member__title_blue {
  color: #4285f4;
}
.member__title_green {
  color: #34a853;
}
.member__title_yellow {
  color: #fbbc05;
}
.member__title_red {
  color: #ea4335;
}
.member__text {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: normal;
}
.member__screenshot {
  width: 100%;
  height: auto;
  display: block;
}
.member__contacts {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  overflow: hidden;
}
.member__contact {
  float: left;
}
.member__link {
  font-family: Roboto, sans-serif;
  font-size: 0.8rem;
  line-height: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 5px;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.member__link:hover,
.member__link_important {
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.member__link_static_blue,
.member__link_blue:hover {
  background-color: #4285f4;
}
.member__link_static_green,
.member__link_green:hover {
  background-color: #34a853;
}
.member__link_static_yellow,
.member__link_yellow:hover {
  background-color: #fbbc05;
}
.member__link_static_red,
.member__link_red:hover {
  background-color: #ea4335;
}
@media screen and (max-width: 767px) {
  .member__avatar {
    max-width: 180px;
  }
  .member__title,
  .member__text {
    text-align: center;
  }
  .member__screenshot {
    max-width: 290px;
    margin: auto;
  }
  .member__contacts {
    text-align: center;
  }
  .member__contact {
    float: none;
    display: inline-block;
  }
  .member__link {
    margin-bottom: 1rem;
  }
  .member__half {
    text-align: center;
  }
}
.footer {
  padding: 2rem 0;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  color: #1c1c1c;
}
.footer__intro {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #1c1c1c;
}
.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__list-item {
  margin-bottom: 0.5rem;
}
.footer__text {
  margin: 1rem 0;
  color: #9e9e9e;
  font-weight: 300;
}
.footer__contact {
  display: inline-block;
  color: #1c1c1c;
  text-decoration: none;
  line-height: 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.8rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.footer__contact:hover {
  color: #fff;
  background-color: #4285f4;
}
.footer__sub {
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
  margin-top: 1rem;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  min-width: 320px;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
  body {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
